@model List<Watch_Shop.Models.Order>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>

<head>
    <title>View User</title>
</head>
<body>
    <!---start-wrap--->

    <div class="content">
        <div class="products-box">
            <div class="products">
                <h5><span>Orders</span></h5>
                <div class="section group">
                   
                    @foreach (var i in Model)
                    {
                        <div class="grid_1_of_5 ">

                            <h3>Brand: @i.Brand</h3>
                            
                            <h3>Model: @i.Model</h3>
                            <h4>Quantity: @i.Quantity</h4>

                            <div class="button"><span><a href="/Admin/DeleteOrder/?id=@i.OrderId">Delete</a></span></div>

                        </div>
                    }
                    <div>
                        @*<table border="1">
                                @foreach (var i in Model)
                                {
                                    <tr>><td>@i.FirstName @i.LastName</td><td>@i.Email</td><td> @i.Gender</td><td>@Html.ActionLink("Delete", "DeleteUser", "Admin", new { id = i.Id })</td></tr>
                                }
                            </table>*@
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="clear"> </div>
</body>
</html>
