@model Watch_Shop.Models.Account

@{
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>SignUp</title>


</head>


<body>

    <!---header--->
    
    <div class="content">
        <div class="contact">
        <div style="color:red" ><h4><label>@ViewBag.msg</label></h4></div>

            <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

        @using (Html.BeginForm("SignUpUser", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
                @Html.AntiForgeryToken()
                 @Html.ValidationSummary(true)

            <div class="section group">
                <div class="col span_1_of_3">
                    <br>
                    <br>
                    Upload Image: <input type="file" name="Image" />    
                    </div>
                
                <div class="col span_2_of_3">
                    <div class="contact-form">
                      
                            <div class="logo_colour">
                                <h3>Sign Up</h3>
                            </div>
                            <div>
                                @Html.Label("FIRST NAME")
                                @Html.TextBoxFor(m => m.FirstName, new {placeholder = "Enter First Name" })
                                @Html.ValidationMessageFor(model => model.FirstName)

                            </div>
                            <div>
                               @Html.Label("LAST NAME")
                                 @Html.TextBoxFor(m => m.LastName, new { placeholder = "Enter Last Name" })
                                @Html.ValidationMessageFor(model => model.LastName)
                            </div>
                        <div>
                            <div>
                                @Html.Label("USERNAME")
                                @Html.TextBoxFor(m => m.Username, new {placeholder = "Enter Username"})
                                @Html.ValidationMessageFor(model => model.Username)

                            </div>
                            
                            @*<input type="button" id="b1" value="Check" />*@
                            <div id="result"></div>
                            @Scripts.Render("~/bundles/jquery")
                            <script>

                                $(document).ready(function () {

                                    $('#checking').hide();

                                    $('#b1').click(function () {

                                        var userName = $('#Username').val();

                                        //alert('User Name ='+ userName);
                                      //  $('#checking').show();
                                        $.getJSON("/account/CheckUserName?Username=" + userName, function (data) {
                                           // $('#checking').hide();
                                            if (data) {
                                                $('#result').text("User already exists in database");

                                            }
                                            else {
                                                $('#result').text("User Name is available");
                                            }
                                        });

                                    });

                                });
                            </script>
                        </div>

                            <div>
                                @Html.Label("PASSWORD")
                                <span></span>
                                @Html.PasswordFor(m => m.Password, new { placeholder = "Enter password" })
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                            <div>
                                @Html.Label("EMAIL")
                                @Html.TextBoxFor(m => m.Email, new { placeholder = "Enter Email" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>

                            <div>
                                <p>
                                    @Html.Label("GENDER")
                                    <span></span>
                                    Male
                                    @Html.RadioButtonFor(m => m.Gender, "Male")
                                    Female
                                    @Html.RadioButtonFor(m => m.Gender, "Female")
                                    @Html.ValidationMessageFor(model => model.Gender)
                                </p>
                            </div>

                            <div>
                                <span><input type="submit" value="SignUp"></span>
                            </div>
                        </div>

                </div>
            </div>
        
        }

    </div>
            </div>


    <div class="clear"> </div>

</body>
</html>
